/Hogwarts-API/.vs/Hogwarts-API/v16/.suo
/Hogwarts-API/.vs/Hogwarts-API/v16/.suo
/Hogwarts-API/.vs/Hogwarts-API/DesignTimeBuild/.dtbcache.v2
/Hogwarts-API/.vs/Hogwarts-API/v16/.suo
/Hogwarts-API/Hogwarts-API/obj/Debug/netcoreapp3.1/Hogwarts-API.csprojAssemblyReference.cache
/Hogwarts-API/Models/obj/Debug/netcoreapp3.1/Models.csprojAssemblyReference.cache
/Hogwarts-API/.vs/Hogwarts-API/DesignTimeBuild/.dtbcache.v2
/Hogwarts-API/.vs/Hogwarts-API/v16/.suo
/Hogwarts-API/Hogwarts-API/bin/Debug/netcoreapp3.1/Hogwarts-API.dll
/Hogwarts-API/Hogwarts-API/bin/Debug/netcoreapp3.1/Hogwarts-API.pdb
/Hogwarts-API/Hogwarts-API/obj/Debug/netcoreapp3.1/Hogwarts-API.csproj.CoreCompileInputs.cache
/Hogwarts-API/Hogwarts-API/obj/Debug/netcoreapp3.1/Hogwarts-API.csproj.FileListAbsolute.txt
/Hogwarts-API/Hogwarts-API/obj/Debug/netcoreapp3.1/Hogwarts-API.csprojAssemblyReference.cache
/Hogwarts-API/Hogwarts-API/obj/Debug/netcoreapp3.1/Hogwarts-API.dll
/Hogwarts-API/Hogwarts-API/obj/Debug/netcoreapp3.1/Hogwarts-API.pdb
/Hogwarts-API/Models/bin/Debug/netcoreapp3.1/Models.dll
/Hogwarts-API/Models/bin/Debug/netcoreapp3.1/Models.pdb
/Hogwarts-API/Models/obj/Debug/netcoreapp3.1/Models.csproj.CoreCompileInputs.cache
/Hogwarts-API/Models/obj/Debug/netcoreapp3.1/Models.csproj.FileListAbsolute.txt
/Hogwarts-API/Models/obj/Debug/netcoreapp3.1/Models.csprojAssemblyReference.cache
/Hogwarts-API/Models/obj/Debug/netcoreapp3.1/Models.dll
/Hogwarts-API/Models/obj/Debug/netcoreapp3.1/Models.pdb
/Hogwarts-API/Hogwart.Repository/obj/Debug/netcoreapp3.1/Hogwarts.Repository.csprojAssemblyReference.cache
/Hogwarts-API/Hogwarts.Application/obj/Debug/netcoreapp3.1/Hogwarts.Application.csprojAssemblyReference.cache
/Hogwarts-API/Hogwarts.Service/obj/Debug/netcoreapp3.1/Hogwarts.Service.csprojAssemblyReference.cache
/Hogwarts-API/Models/obj/Debug/netcoreapp3.1/Hogwarts.Models.csproj.FileListAbsolute.txt
/Hogwarts-API/Models/obj/Debug/netcoreapp3.1/Hogwarts.Models.csprojAssemblyReference.cache
/Hogwarts-API/Hogwart.Repository/obj/Debug/netcoreapp3.1/Hogwarts.Repository.csproj.FileListAbsolute.txt
